@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfering Department Application</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            font-family: "Times New Roman", Times, serif;
        }

        table {
            border: none;
        }

        .container-decide {
            max-width: 900px;
            margin: 0 auto;
        }

        .header-left strong {
            margin-left: 30px;
        }

        .header-left p {
            font-weight: 600;
            margin-top: 3px;
            margin-bottom: 0;
            margin-left: 125px;
        }

        .header-left i {
            margin-left: 65px;
        }

        h2 {
            font-weight: 900;
        }

        h4 {
            margin-bottom: 30px;
        }

        h3 {
            margin-top: 30px;
            margin-bottom: 3px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
        }

        .header-right strong {
            margin-left: 290px;
        }

        .header-right p {
            margin-left: 360px;
            margin-top: 3px;
            font-weight: 600;
            margin-bottom: 0;
        }

        .header-right span {
            margin-left: 400px;
        }

        .header-right i {
            margin-left: 290px;
        }

        h2,
        h3,
        h4 {
            text-align: center;
            font-weight: 700;
        }

        em {
            margin-left: 210px;
            font-size: 16px;
        }

        i {
            line-height: 26px;
        }

        .bottom {
            display: flex;
            width: 100%;
        }

        .bottom-left {
            width: 60%;
            margin-top: 30px;
        }

        .bottom-right { 
            margin-top: -75px;
            width: 40%;
            margin-left: 600px;
        }

        .bottom-right i {
            font-size: 18px;
            margin-left: 100px;
        }
    </style>
</head>

<body>
    <div class="container-decide">
        <table>
            <tbody>
                <tr>
                    <td class="header-left">
                        <strong>CÔNG TY TNHH VIỄN THÔNG</strong>
                        <p>VNPT</p>
                        <i>Số: 04/2023/QĐ-VNPT</i>
                        <p></p>
                        <i></i>
                    </td>
                    <td class="header-right">
                        <strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong>
                        <p>Độc lập - Tự do - Hạnh phúc</p>
                        <span>----------o0o--------</span>
                        <p></p>
                        <i>Thành phố Hồ Chí Minh, ngày&nbsp; tháng&nbsp; năm 2023</i>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2></h2>
        <h2>QUYẾT ĐỊNH</h2>
        <h4>Về việc Điều chuyển công tác cho nhân viên</h4>
        <h3>QUẢN LÝ NHÂN SỰ CÔNG TY VNPT</h3>
        <em>Căn cứ vào Luật doanh nghiệp</em><br>
        <em>Căn cứ theo Điều lệ tổ chức và hoạt động của Công ty VNPT</em><br>
        <em>Căn cứ nhu cầu hoạt động sản xuất kinh doanh và đề nghị của phòng ban</em>
        <p></p>
        <p></p>
        <h3>QUYẾT ĐỊNH:</h3>
        <p>
            <strong>Điều 1.</strong>&nbsp;&nbsp;Quyết điều chuyển công tác của nhân viên:
        </p>
        <p>
            Ông/Bà:&nbsp; &nbsp;<strong></strong>&nbsp;&nbsp;Hiện đang công tác tại phòng ban:<strong></strong>&nbsp;&nbsp; Chuyển sang phòng ban : <strong></strong>&nbsp;&nbsp; Từ ngày&nbsp;
        </p>
        <p></p>
        <p>
            <strong>Điều 2.</strong>&nbsp;&nbsp;Ông/Bà:&nbsp; &nbsp;<strong></strong>được thanh toán lương và các chế độ tại phòng ban <strong></strong> đến hết ngày&nbsp;tháng&nbsp;năm. Kể từ tháng sau các chế độ lương, thưởng, và các chính sách khác
            của Ông/Bà được hưởng như nhân viên phòng ban
        </p>
        <p>
            Ông/Bà:&nbsp; &nbsp;<strong></strong>có nghĩa vụ thực hiện các công việc được phân công, chịu trách nhiệm và báo cáo Trưởng Phòng quản lý trực tiếp, Quản lý nhân sự và trước pháp luật về việc thực hiện các nhiệm vụ, quyền hạn được giao theo
            quy định tại Điều lệ, quy chế của Công ty và các quy định pháp luật có liên quan.
        </p>
        <p>
            <strong>Điều 3.</strong>&nbsp;&nbsp;Quyết định có hiệu lực thi hành kể từ ngày&nbsp;tháng&nbsp;năm&nbsp;cho đến khi có Quyết định khác về việc này được ban hành. Ông/Bà&nbsp;&nbsp; và các Phòng/Ban có liên quan chịu trách nhiệm thi hành quyết
            định này.
        </p>
        <div class="bottom">
            <div class="bottom-left">
                <strong style="font-size: 18px;">Nơi nhận:</strong><br>
                <i>- Như điều 3.</i><br>
            </div>
            <div class="bottom-right">
                <h3>QUẢN LÝ NHÂN SỰ</h3>
                <img src="~/Images/System/chuki.png" alt="" style="width: 200px; height: 150px;margin-left: 100px;">
                <br>
                <i>Nguyễn Thị Lan Anh</i>
            </div>
        </div>
    </div>
</body>

</html>