<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfering Application</title>

    <style>
        body {
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
    </style>
</head>

<body>
    <div style="margin:0 auto">
        <table cellspacing="3" style="border: none;width:100.0%;">
            <tbody>
                <tr>
                    <td>
                        <p style='font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;'><strong><span style="font-size:16px;line-height:150%;">CÔNG TY TNHH SẢN XUẤT THIẾT BỊ VIỄN THÔNG</span></strong><span style='font-size:16px;line-height:150%;text-align:center'><br><strong>VNPT</strong></span></p>
                    </td>
                    <td style="padding:.75pt .75pt .75pt .75pt;">
                        <p style='font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;'><strong><span style="font-size:16px;line-height:150%;">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></strong><span style='font-size:16px;line-height:150%;text-align:center'><br> <strong>Độc lập - Tự do - Hạnh phúc</strong><br> <strong>----------------------------------</strong></span></p>
                    </td>
                </tr>
                <tr>
                    <td style="padding:.75pt .75pt .75pt .75pt;">
                        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:center;'><span style='font-size:16px;line-height:150%;'>Số: 04/2023/QĐ-VNPT</span></p>
                    </td>
                    <td style="padding:.75pt .75pt .75pt .75pt;">
                        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:right;'><em><span style="font-size:16px;line-height:150%;">................., ngày ..... tháng ..... năm ......</span></em></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 style="margin-right:0cm;margin-left:0cm;font-size:18px;font-weight:bold;text-align:center;line-height:150%;"><strong><span style="font-size:16px;line-height:150%;">QUYẾT ĐỊNH<br>&nbsp;V/v: Điều chuyển c&ocirc;ng t&aacute;c cho &ocirc;ng</span></strong></h3>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:center;'><strong>C&Ocirc;NG TY</strong></p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:justify;'>- Căn cứ v&agrave;o Luật doanh nghiệp;</p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:justify;'>- Căn cứ v&agrave;o Điều lệ hoạt động của C&ocirc;ng ty............;</p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:justify;'>- Căn cứ v&agrave;o nhu cầu hiện tại của C&ocirc;ng ty ..................</p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:justify;'>- X&eacute;t đơn xin chuyển c&ocirc;ng t&aacute;c của &Ocirc;ng ............</p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:center;'><strong>QUYẾT ĐỊNH</strong></p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:justify;'><strong>Điều 1:&nbsp;</strong>Điều chuyển &Ocirc;ng ............... - hiện đang l&agrave; .............. sang l&agrave;m ............ C&ocirc;ng ty ................. kể từ ng&agrave;y ..... th&aacute;ng .... năm .....</p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:justify;'><strong>Điều 2:&nbsp;</strong>Nh&acirc;n vi&ecirc;n&nbsp;............. được thanh to&aacute;n lương v&agrave; c&aacute;c chế độ tại vị tr&iacute; ............. đến hết ng&agrave;y....th&aacute;ng.....năm..... Kể từ ng&agrave;y&nbsp;h&ocirc;m sau,&nbsp;c&aacute;c chế độ lương, thưởng, v&agrave; c&aacute;c ch&iacute;nh s&aacute;ch kh&aacute;c của &Ocirc;ng ............. được hưởng như nh&acirc;n vi&ecirc;n .................</p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:115%;'><span style='font-size:16px;line-height:115%;'>&Ocirc;ng ............ c&oacute; nghĩa vụ thực hiện c&aacute;c c&ocirc;ng việc được ph&acirc;n c&ocirc;ng, chịu tr&aacute;ch nhiệm v&agrave; b&aacute;o c&aacute;o Trưởng Ph&ograve;ng quản l&yacute; trực tiếp, Ph&oacute; Gi&aacute;m đốc tuyển dụng v&agrave; trước ph&aacute;p luật về việc thực hiện c&aacute;c nhiệm vụ, quyền hạn được giao theo quy định tại Điều lệ, quy chế của C&ocirc;ng ty v&agrave; c&aacute;c quy định ph&aacute;p luật c&oacute; li&ecirc;n quan.</span></p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:justify;'>&nbsp;</p>
        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:justify;'><strong>Điều 3:&nbsp;</strong>Quyết định c&oacute; hiệu lực thi h&agrave;nh kể từ ng&agrave;y.....th&aacute;ng......năm...... cho đến khi c&oacute; Quyết định kh&aacute;c về việc n&agrave;y được ban h&agrave;nh. &Ocirc;ng ............ v&agrave; c&aacute;c Ph&ograve;ng/Ban c&oacute; li&ecirc;n quan chịu tr&aacute;ch nhiệm thi h&agrave;nh quyết định n&agrave;y.</p>
        <table cellspacing="3" style="border: none;width:100.0%;">
            <tbody>
                <tr>
                    <td style="padding:.75pt .75pt .75pt .75pt;">
                        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;'><strong>Nơi nhận:</strong></p>
                        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;'>- Như điều 3 (để thực hiện)</p>
                        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;'>&nbsp;</p>
                    </td>
                    <td style="padding:.75pt .75pt .75pt .75pt;">
                        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:center;'><strong>C&Ocirc;NG TY</strong></p>
                        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:center;'>&nbsp;</p>
                        <p style='margin-right:0cm;margin-left:0cm;font-size:15px; margin-top:0cm;margin-bottom:10.0pt;line-height:150%;text-align:center;'>&nbsp;</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>