
@{
    ViewBag.Title = "Admin_HomePage";
    Layout = "~/Views/Admin/Layout_Admin/Layout_Admin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>
</div>
<!-- /.content-wrapper -->

@section Scripts
{
    @Scripts.Render("~/bundles/dashboard1")
}
