
@{
    ViewBag.Title = "SA_HomePage";
    Layout = "~/Views/Salary/Layout_Salary/Layout_Salary.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="color:red">
            SALARY MANAGER HOMEPAGE

        </h1>
    </section>
</div>
<!-- /.content-wrapper -->

@section Scripts
{
    @Scripts.Render("~/bundles/dashboard1")
}

